<% page_hash.each do |page, child_hash|%>
  <div class="page">
    <h3 class="page-name">
      <strong>Name:</strong>
      <%= page.name %>
    </h3>

    <p>
      <strong>Title:</strong>
      <%= page.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= sanitize page.text, tags: %w(a b i), attributes: %w(href) %>
    </p>

    <p class="page-links">
      <% unless current_page? page %>
        <%= link_to 'Show', page %> |
      <% else %>
        <%= link_to 'Back', page_path(page.parent) %> |
      <% end %>
      <%= link_to 'Add',  new_page_path(page) %> |
      <%= link_to 'Edit', edit_page_path(page) %> |
      <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% if child_hash.present? %>
      <div class="page-subtree">
        <%= render 'page', page_hash: child_hash %>
      </end>
    <% end %>
  </div>
<% end %>
