<div class="page">
  <p>
    <strong>Name:</strong>
    <%= page.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= sanitize page.text, tags: %w(a b i), attributes: %w(href) %>
  </p>
</div>

<% unless current_page? page %>
  <%= link_to 'Show', page %> |
<% else %>
  <%= link_to 'Back', page_path(@page.parent) %> |
<% end %>
<%= link_to 'Add',  new_page_path(page) %> |
<%= link_to 'Edit', edit_page_path(page) %> |
<%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
